# Environnement virtuel
.venv/
venv/
env/

# Fichiers Python compilés
__pycache__/
*.pyc


# Fichiers système
.DS_Store

# Jupyter notebook checkpoints (si tu en as)
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Mot de passe ou config sensible
config_secrets.py



