# Environnement virtuel
.venv/
venv/
env/

# Fichiers Python compilés
__pycache__/
*.pyc


# Fichiers système
.DS_Store

# Streamlit cache
.streamlit/

# Mot de passe ou config sensible
config_secrets.py



